@media screen and (min-width: 580px) {
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    background: url("./img/galaxy-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    position: relative;
    height: 100%;

    animation-duration: 1s;
    animation-name: pagemove;
    animation-timing-function: ease-in;
}

@keyframes pagemove {
    from {
        opacity: 0;
      }
    
    to {
        opacity: 100%;
      }
}


header {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

article {
    margin-right: 15%;
    margin-left: 15%;
    padding: 4%;
    text-align: justify;
    background-color: black;
    border-radius: 10px;
}

footer {
    background-color: black;
    text-align: center;
    height: 4em;
    padding: 4%;
    margin-top: 5%;
    padding-top: 4em;
}

p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Big Shoulders Stencil", sans-serif;
}

h1 {
    font-size: 4em;
    background-image: linear-gradient(92deg, #e5ba6b, #e56b9e, #9f78c9);
    background-size: 150%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: headergradient 1s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes headergradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

h2 {
    font-size: 2em;
    background-image: linear-gradient(92deg, #e5ba6b, #e56b9e, #9f78c9);
    background-size: 150%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: headergradient 1s ease-in-out infinite;
    animation-direction: alternate;
}

h4 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background-image: linear-gradient(to top, #e56b9e, #9f78c9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: white 5px double;
}

.icon {
    font-size: 2em;
    text-align: center;
    color: #e5ba6b;
}

.star {
    font-size: 4em;
    text-align: center;
    color: white;
}

nav {
    position: sticky;
    top: 0;

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3em;
    margin-top: 1em;
    border-radius: 10px;
    z-index: 100;

    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

nav a {
    text-align: center;
    font-size: 1em;
    height: 2em;
    width: 17em;
    padding: 10px;
    padding-top: 15px;
    background-color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: white;
    overflow-wrap: break-word;

    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(66, 66, 66);
    color: #e56b9e;
}
  
  .scroll-top {
    position: absolute;
    top: 120vh;
    bottom: 6rem;
    right: 10px;
    z-index: 1000;
  }
  
  .scroll-top__link {
    position: sticky;
    top: 90vh;
    font-size: 2em;
    background-color: black;
    color: white;
    border: solid black 5px;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;

    transition: background-color 0.5s;
    transition: border 0.5s;
    transition: color 0.5s;
  }

  .scroll-top__link:hover {
    background-color: rgb(66, 66, 66);
    border: solid rgb(66, 66, 66) 5px;
    color: #e56b9e;
  }

aside {
    position: relative;
    text-align: center;
    margin-top: -3em;
    margin-bottom: 1em;
    margin-right: 15%;
    margin-left: 15%;
    padding: 4%;
    padding-top: 0;
    background-color: black;
    border-radius: 10px;
}
}

@media screen and (max-width: 580px) {
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;

        background: url("./img/galaxy-bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    
        color: white;
        position: relative;
        height: 100%;

        animation-duration: 1s;
        animation-name: pagemove;
        animation-timing-function: ease-in;
    }

    @keyframes pagemove {
        from {
            opacity: 0;
        }
        
        to {
            opacity: 100%;
        }
}
    
    header {
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    }
    
    article {
        padding: 3%;
        text-align: justify;
        background-color: black;
        border-radius: 10px;
        margin-right: 5%;
        margin-left: 5%;
    }

    footer {
        background-color: black;
        text-align: center;
        height: 4em;
        padding: 4%;
        margin-top: 5%;
        padding-top: 4em;
    }
    
    p {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    
    h1, h2, h3 {
        text-align: center;
        font-family: "Big Shoulders Stencil", sans-serif;
    }
    
    h1 {
        font-size: 4em;
        background-image: linear-gradient(92deg, #e5ba6b, #e56b9e, #9f78c9);
        background-size: 150%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
        animation: headergradient 1s ease-in-out infinite;
        animation-direction: alternate;
    }
    
    h2 {
        font-size: 2em;
        background-image: linear-gradient(92deg, #e5ba6b, #e56b9e, #9f78c9);
        background-size: 150%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
        animation: headergradient 1s ease-in-out infinite;
        animation-direction: alternate;
    }
    
    h4 {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        background-image: linear-gradient(to top, #e56b9e, #9f78c9);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    hr {
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: black;
        border: white 5px double;
    }
    
    .icon {
        font-size: 2em;
        text-align: center;
        color: #e5ba6b;
    }

    .star {
        font-size: 4em;
        text-align: center;
        color: white;
    }
    
    nav {
        position: sticky;
        top: 0;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        margin-bottom: 3em;
        margin-top: 1em;
        border-radius: 10px;
        z-index: 100;

        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    }
    
    nav a {
        text-align: center;
        font-size: 1em;
        height: 2em;
        padding: 10px;
        padding-top: 15px;
        background-color: black;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        color: white;
    
        transition: background-color 0.5s;
    }
    
    nav a:hover {
        background-color: rgb(66, 66, 66);
        color: #e5ba6b;
    }
      
      .scroll-top {
        position: absolute;
        top: 120vh;
        bottom: 6rem;
        right: 10px;
        z-index: 1000;
      }
      
      .scroll-top__link {
        position: sticky;
        top: 90vh;
        font-size: 1em;
        background-color: black;
        color: white;
        border: solid black 5px;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
    
        transition: background-color 0.5s;
        transition: border 0.5s;
        transition: color 0.5s;
      }
    
      .scroll-top__link:hover {
        background-color: rgb(66, 66, 66);
        border: solid rgb(66, 66, 66) 5px;
        color: #e5ba6b;
      }
    
    aside {
        position: relative;
        text-align: center;
        margin-top: -3em;
        margin-bottom: 1em;
        margin-right: 5%;
        margin-left: 5%;
        padding: 4%;
        padding-top: 0;
        background-color: black;
        border-radius: 10px;
    }
    }