@font-face {
    font-family: 'MarioFont';
    src: url('assets/SuperMario256.ttf');
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB;    
    font-family: 'MarioFont';
}

p {
    position: inherit;
    font-size: 3vw;
    top: -2em;
    left: 1vw;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;

}

#grass {
    position: absolute;
    width: 100vw;
    height: 8vh;
    bottom: -1vw;
    background-image: url('assets/grass.png');
    background-repeat: repeat;
    background-size: 10% 100%;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('assets/sky.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#phoneNumber {
    position: relative;
    text-align: center;
    font-size: 4vw;
    margin-top: 5vh;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

#lilguy {
    position: absolute;
    bottom: 4vh;
    left: 4vw;
    width: 5vw;
    height: 5vw;
    background-image: url('assets/mario.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#reset {
    position: absolute;
    bottom: 60vh;
    left: 93vw;
    width: 4vw;
    height: 4vw;
    background-image: url('assets/reset_mushroom.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#enter {
    position: absolute;
    bottom: 30vh;
    left: 50vw;
    width: 4vw;
    height: 4vw;
    background-image: url('assets/mushroom.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#plat0 {
    position: absolute;
    bottom: 30vh;
    left: 2vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat1 {
    position: absolute;
    bottom: 10vh;
    left: 13vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat2 {
    position: absolute;
    bottom: 40vh;
    left: 20vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat3 {
    position: absolute;
    bottom: 50vh;
    left: 29vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat4 {
    position: absolute;
    bottom: 40vh;
    left: 38vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat5 {
    position: absolute;
    bottom: 50vh;
    left: 47vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat6 {
    position: absolute;
    bottom: 55vh;
    left: 56vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat7 {
    position: absolute;
    bottom: 34vh;
    left: 65vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat8 {
    position: absolute;
    bottom: 47vh;
    left: 74vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#plat9 {
    position: absolute;
    bottom: 15vh;
    left: 83vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#platReset {
    position: absolute;
    bottom: 40vh;
    left: 92vw;
    width: 6vw;
    height: 1vw;
    background-color:brown;
    border: black solid 0.2vw;
}

#num0 {
    position: absolute;
    bottom: 50vh;
    left: 3.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num1 {
    position: absolute;
    bottom: 30vh;
    left: 14.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num2 {
    position: absolute;
    bottom: 60vh;
    left: 21.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num3 {
    position: absolute;
    bottom: 70vh;
    left: 30.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num4 {
    position: absolute;
    bottom: 60vh;
    left: 39.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num5 {
    position: absolute;
    bottom: 70vh;
    left: 48.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num6 {
    position: absolute;
    bottom: 75vh;
    left: 57.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num7 {
    position: absolute;
    bottom: 54vh;
    left: 66.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num8 {
    position: absolute;
    bottom: 67vh;
    left: 75.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}

#num9 {
    position: absolute;
    bottom: 35vh;
    left: 84.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url('assets/lucky_block.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: black solid 0.2vw;
}
